*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    margin: 2vh 15vw;
    background-color:#06172e;
    font-family: 'Quantico', sans-serif ;
    font-weight: bold;
   
}
a{
    text-decoration: none;
}
header {
    margin-top: 3vh;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}
.button, .join-button{
    background-color: rgb(105, 152, 55);
    border-radius: 4px;
}
#game8{
    font-size: 2.2vw;
    font-family: 'Quantico', sans-serif ;
    position: relative;
    bottom: -15px;
}
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.head a {
    font-size: 1.2 vw;
    padding: 2%;
}

.join-button{
    
    padding: 4.5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    position: relative;
    top: -28px;
    left: 150px;
    
     /* padding-right: 2%;
    padding-left: 2%;  */
}

.head a:hover{
    background-color: rgb(105, 152, 55);
    border-radius: 12px;
}
select{
    color: white;
    outline: none;
    border: none;
    padding: 2% 0;
    background-color: #06172e;
    font-size: 1vw;
    font-weight: bold;
    
}
.drop-down{
    font-family: 'Quantico', sans-serif ;
}
#cart{
    margin: 1vh;
    width: 2vw;
    position: relative;
    bottom: -10px;
    left:80px;

}

.LiveStreaming-division{
    display: flex;
    margin-top: 3vh;
    

}
.Streamer-division{
    display: flex;
    margin-top: 10vh;
}
.LiveStreaming-Subdivision-1{
    margin-top: 19vh;
    position: relative;
    bottom: -5px;
}

.star-division{
    display: flex;
    flex-direction: row;
    
}
.first-Subdivision{
    font-size: 1.1vw;
    font-family: 'Arial Narrow Bold', sans-serif; 
    color:green ;
    display: flex;
    flex-direction: row;
    
}
#star{

    margin: 1vh;
    width: 2vw;
    position: relative; 
    top: -20px;
}
.second-Subdivision{
    margin-top: 2vh;
    font-size: 3.6vw;
    margin-bottom: 2vh;
    position: relative;
    top: -45px;
    
}
.text-division-1{
    margin-top: 2vh;
    font-size: 2.9vw;
    margin-bottom: 2vh;
}
.text-division-2{
    position: relative;
    top: -10px;
}
.LiveStreaming-Text{

position: relative;
top: -50px;
}
.play-button{
    margin-top: 5vh;
    position: relative;
    top: -20px;
}
.play-button a{
    padding: 2.9%;
    padding-left: 6%;
    padding-right: 6%;
}
#yt{
    margin: 1vh;
    width:5.5vw;
    position: relative; 
    top: -90px;
    left: 150px;
    

}
.dec{
    line-height: 100%;
}
#play-button-division{
    display: flex;
    flex-direction: row;
    
}
#war{
    width: 32vw;
    margin-left: 15vh;
}
#streaming{
    margin: 1vh;
    width: 35vw;
}
.Streamer-Subdivision-1{
    margin-left: 3vw;
    position: relative; 
    bottom: -40px;

}
.Match-Division{
    margin-top: 10vh;
}
.upcoming-match{
    text-align: center;
    font-size: 3.5vw;
}
.upcoming-match-text{
    margin:0vh 17vw;
    text-align: center;
}
.matches{
    margin-top: 5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:1.5vw;
}
.match1, .match2, .match3, .match4, .match5, .m6{
    display: flex;
    flex-direction: column;
    border: 1px solid greenyellow;
    border-radius: 4%;
}
.matches-Subdivision-1{
    border: 1px solid greenyellow;
    border-radius: 4% 4% 0vh 0vh;
    padding: 6vh 0vw 8vh 3vw;
    height: 11vh;
}
.match_img{
    width: 5vw;
}
.matches-Subdivision-2{
    display: flex;
    background: #06172e;
    margin:2vh 2vw;
    padding: 2vh 1vw;
    justify-content: center;
    width: 10vw;
    border: 1px solid greenyellow;
    border-radius: 2vw;
}
.play_img{
    width:1.6vw;
}
.live_stream{
    color: green;
    margin:0.4vw;
    font-size: 1vw;
}
.matches-Subdivision-3{
    padding: 8vh 1vw 4vh 3vw;
}
.date{
    color:greenyellow ;
    font-size: 0.8vw;
}
.game_name{
    margin-top: 2vh;
    font-size: 1.2vw;
}
.teams{
margin-top: 2vh;
color: green;
font-size: 0.8vw;

}
#other{
    text-align: center;
    margin: 5vh;
}
#other a{
    font-size: 1.2vw;
    padding : 1vh
}
.Content-Division{
    margin: 10vh 0vw;
    display: flex;
    border: 2px green solid;
    padding: 2% 5%;
    justify-content: space-between;
}
.number{
    text-align: center;
    font-size: 3.5vw;
}
.content_below{
background: rgb(105, 136, 105);
margin-left: 1vw;
width: fit-content;
border-radius: 2vw;
padding: 5%;
font-size: 0.5vw;
}
.footer-Division-start{
    background: green;
    border-radius: 2vw;
    display: flex;
    padding: 5%;
}
.newsletter{
    width: 50%;
}
.news{
    font-size: 2vw;
}
.news_content{
    font-size: 1vw;
}
.subscribe_email{
    display: flex;
    margin-top: 3vh;
    background: white;
    border-radius: 0.6vw;
    padding: 1%;
    margin-left: 4vw;
}
.subscribe{
    display: flex;
    background: black;
    border-radius: 0.4vw;
    padding: 2% 1%;
}
.input :focus{
    outline: none;
}
#arrow{
    height: 2.2vh;
    color: white;
}
.footer-Division-end{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-gap: 1vw;
}
.title{
    font-size: 2vw;
    margin-bottom: 5vh;
}
/* .about{
    line-height: 3vh;
} */
.location{
    color: greenyellow;
    margin-bottom: 2vh;
}
/* .location-content{
    line-height: 3vh;
} */
.phone{
    color: greenyellow;
    margin: 2vh 0;
}
.help-items p{
    margin: 2vh 0;
}
.winners{
    width: 20vw;
}
